---
import { Button } from '@material-tailwind/react';
---

<div class="p-6 border rounded-md mt-2">
  <p class="font-semibold">Buttons</p>
  <div class="flex gap-4">
    <Button client:load variant="outline">Outline</Button>
    <Button client:load variant="solid">Solid</Button>
    <Button client:load variant="gradient">Gradient</Button>
    <Button client:load variant="ghost">Ghost</Button>
  </div>
</div>
