---
// Layout
import Layout from '@/layout/Layout.astro';

// Commons
import { Navbar } from '@/components/common/Navbar';
import { Footer } from '@/components/common/Footer';

// Sections
import Buttons from '@/components/sections/Buttons/Buttons.astro';
import Header from '@/components/sections/Header/Header.astro';
---

<Layout
  title="Astro Web Structure"
  description="A starter template for Astro Web."
>
  <Navbar />
  <main class="flex flex-1 flex-col justify-center items-center">
    <Header />
    <Buttons />
  </main>
  <Footer />
</Layout>
